<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuit info 2017</title>
</head>
<body>
    <h1>Nuit info</h1>

    <section id="zone_chat">
            
    </section>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>

            // Connexion à socket.io
            var socket = io.connect('http://localhost:8080');

            socket.emit('RequestConnection');

            // Quand un nouveau client se connecte, on affiche l'information
            socket.on('User', function(user) {
            	console.log(user);
                user.name = 'Myriam';
                $('#zone_chat').prepend('<p><em>' + user.name + user.id + ' a rejoint le Chat !</em></p>');
            });

        </script>

</body>
</html>